<div class="w-100 p-5" [class.dark-mode]="darkMode()">
  <!-- Top Controls -->
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <button class="btn btn-primary me-2" (click)="toggleDarkMode()">
        @if (darkMode()) {
          Light Mode
        } @else {
          Dark Mode
        }
      </button>
      <button class="btn btn-success" (click)="toggleLiveUpdates()">
        @if (liveUpdates()) {
          Pause Updates
        } @else {
          Resume Updates
        }
      </button>
    </div>
  </div>

  <!-- Overview Cards -->
  <app-overview [overview]="overview()"></app-overview>
    <!-- Timeline Chart -->
    <app-timeline-chart [timeline]="timeline()"></app-timeline-chart>

    <!-- Anomaly Heatmap -->
    <div class="card mb-2 p-3">
      <h5>Anomaly Heatmap</h5>
      <div id="anomalyChart" class="chart"></div>
      <!-- Filter by severity -->
      <div class="mt-1">
        @for (s of [anomalySeverity.Low, anomalySeverity.Medium, anomalySeverity.High]; track s) {
          <label class="me-3">
          <input type="checkbox" (change)="filterAnomaliesBySeverity(s, $event.target.checked)" checked />
             {{ s | titlecase }}
          </label>
        }
      </div>
    </div>

    <!-- Workflow Volume Chart -->
    <app-volume-chart [timeline]="timeline()"></app-volume-chart>
</div>
